<% populate_book(book) => {
    cover:, title:, isbn:, remain:, publisher:, publish_date:,
    authors:, genres:, book_path:, id:
}%>
<tr id="<%= id %>">
  <td><%= (@pagy ? @pagy.from : 1) + book_iteration.index %></td>
  <td class="text-truncate mw-12">
    <%= link_to book_path do %>
      <%= image_tag cover, class: "image-rect", title: "ISBN: #{isbn}" %>
      <span title="<%= title %>"><%= title %></span>
    <% end %>
  </td>
  <td><%= remain %></td>
  <td>
    <%= render "admin/shared/ref_list", obj: authors, resource: :author %>
  </td>
  <td>
    <%= render "admin/shared/ref_list", obj: genres, resource: :genre %>
  </td>
  <td class="text-truncate mw-6">
    <%= render "admin/shared/ref_list", obj: publisher, resource: :publisher %>
  </td>
  <td><%= publish_date %></td>
  <td>
    <%= render "admin/shared/form_button", item: book, name: :book %>
  </td>
</tr>
