<%= form_with(model: [book, book.comments.build], id: "comment_form") do |f| %>
  <div class="d-flex">
    <% if account_signed_in? %>
      <div class="me-4">
        <%= avatar_for(current_account, 80) %>
      </div>
    <% end %>
    <div class="flex-grow-1">
      <div class="mb-2">
        <span class="text-secondary"><%= t ".rate_book" %>: </span>
        <span class="star-rating">
          <% (1..5).each do |i| %>
            <%= f.label :star_rate, style: "--i:#{i}", for: "rate-#{i}" do %>
              <i class="fa-solid fa-star"></i>
            <% end %>
            <%= f.radio_button :star_rate, i, id: "rate-#{i}" %>
          <% end %>
        </span>
      </div>
      <div class="mb-3">
        <%= f.rich_text_area :content %>
      </div>
      <%= f.submit t(".post_comment"), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
