<% provide :title, t(".borrow_info_create") %>

<h1><%= t ".borrow_info_create" %></h1>
<div class="my-4">
  <%= form_with model: @borrow_info, data: {turbo_method: :post, turbo_confirm: t("you_sure?")} do |form| %>
    <%= render "shared/error_messages", model: @borrow_info, as: "borrow_info" %>
    <div class="row">
      <div class="col-md-6 row">
        <% @current_cart.borrowings.include_books.each do |borrow_item| %>
          <% book = borrow_item.book %>
          <div class="col-md-6 mb-3">
            <%= render "shared/book_card", book: book %>
          </div>
        <% end %>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <%= form.label :borrow_date, class: "form-label required fw-semibold" %>
          <%= form.date_field :start_at, class: "form-control", min: Date.current, id: "start-at" %>
        </div>
        <div class="mb-3">
          <%= form.label :return_date, class: "form-label required fw-semibold" %>
          <%= form.date_field :end_at, class: "form-control", min: Date.current, id: "end-at" %>
        </div>
        <div class="mb-3">
          <p class="form-label fw-semibold"><%= t "borrow_infos.borrow_renewals" %>: <span class="fw-normal">5</span></p>
        </div>
        <div class="row mb-3">
          <%= form.submit t(".borrow_info_create"), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
