<% provide :title, t(".borrow_info") %>
<div>
  <% breadcrumb :borrow_info, @borrow_info %>
  <%= render "shared/error_messages", model: @borrow_info, as: "borrow_info" %>
  <h1 class="mb-4"><%= t ".borrow_info" %> #<%= @borrow_info.id %></h1>
  <p><span class="fw-semibold"><%= t "borrow_infos.borrow_date" %>: </span><%= @borrow_info.start_at %></p>
  <p>
    <span class="fw-semibold"><%= t "borrow_infos.return_date" %>: </span>
    <%= @borrow_info.end_at %>
    <% if @borrow_info.renewal_at && @borrow_info.errors.empty? %>
      <%= t "new_return_date" %>
    <% end %>
  </p>
  <p>
    <span class="fw-semibold"><%= t "activerecord.attributes.borrow_info.turns" %>: </span><%= @borrow_info.turns %>
    <span class="text-secondary"><%= t(".turns_left", turns_count: 5 - @borrow_info.turns) %></span>
  </p>
  <p><span class="fw-semibold"><%= t "status" %>: </span><span class="fs-6 badge text-bg-<%= set_class_based_on(@borrow_info.status) %>"><%= t("#{@borrow_info.status}") %></span></p>
  <%= show_actions @borrow_info.status %>
</div>
<div class="mt-4">
  <h2 class="border-bottom"><%= t ".borrow_book_list" %> - <%= @borrow_info.borrowings.sum(&:quantity) %> <%= t "book" %></h2>
  <div class="mt-1 mb-5 row row-cols-1 row-cols-md-5 g-4">
    <% @borrow_info.borrowings.include_books.each do |borrow_item| %>
      <% book = borrow_item.book %>
      <div class="col">
        <%= render "shared/book_card", book: book %>
      </div>
    <% end %>
  </div>
</div>
