<% populate_author(author) => {
    avatar:, name:, email:, phone:, about:, author_path:, id:, updated_at:
}%>
<tr id="<%= id %>">
  <td><%= @pagy.from + author_iteration.index %></td>
  <td class="mw-12 text-truncate">
    <%= link_to author_path do %>
      <%= image_tag avatar, class: "image-rect", title: about %>
      <span title="<%= name %>"><%= name %></span>
    <% end %>
  </td>
  <td><%= email %></td>
  <td><%= phone %></td>
  <td><%= updated_at %></td>
  <td>
    <%= render "admin/shared/form_button", item: author, name: :author %>
  </td>
</tr>
