<% populate_author(author) => {
    avatar:, name:, email:, phone:, about:, author_path:, id:, updated_at:
}%>
<% null = Settings.display_for_nil %>
<tr id="<%= id %>">
  <td><%= @pagy.from + author_iteration.index %></td>
  <td class="long-name">
    <%= link_to author_path do %>
      <%= image_tag avatar, class: "image-rect", title: about %>
      <span title="<%= name %>"><%= name %></span>
    <% end %>
  </td>
  <td><%= email.presence || null %></td>
  <td><%= phone.presence || null %></td>
  <td><%= updated_at %></td>
  <td>
    <%= render "admin/shared/form_button", item: author, name: t("authors._item") %>
  </td>
</tr>
