<% provide :title, t("admin.title.show", name: t("authors._name")) %>
<% populate_author(@author) => {
    avatar:, name:, phone:, email:, about:
}%>
<div class="col-12">
  <%= navigate_to %>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-4">
          <div class="border-bottom text-center pb-4">
            <%= image_tag avatar, class: "img-lg rounded-circle mb-3" %>
          </div>
          <!-- Contact -->
          <div class="py-4">
            <%= render("admin/shared/info_field", name: t("authors.email"), value: email) if email %>
            <%= render("admin/shared/info_field", name: t("authors.phone"), value: phone) if phone %>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="d-flex justify-content-between">
            <div class="pb-4">
              <h3><%= name %></h3>
              <span class="text-description"><%= about %></span>
            </div>
            <div class="w-25">
              <%= render "admin/shared/form_button", item: @author,
                          name: :author, row: true %>
            </div>
          </div>
          <div class="mt-4 py-2">
            <ul class="nav nav-pills nav-pills-secondary" id="author-tab" role="tablist">
              <%= render  partial: "admin/shared/tab_header_item",
                          collection: get_author_tab_headers(@author), as: :item %>
            </ul>
            <div class="tab-content" id="author-tabContent">
              <div  class="tab-pane fade show active"
                    id="<%= @tab_id %>" role="tabpanel"
                    aria-labelledby="<%= @tab_id %>-tab">
                <%= yield :tab_content %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
