<% provide :title, @author.name %>

<% user_follow_author = current_account&.following? @author %>
<% follower_count = @author.followers.count %>
<div>
  <div class="d-flex align-items-center mb-4">
    <h1 class="fw-bold mb-0 me-4">
      <%= avatar_for(@author, 100) %>
      <span><%= @author.name %></span>
    </h1>
    <%= render "check_btn", user_follow_author: user_follow_author %>
  </div>
  <%= render "follow_info", follower_count: follower_count %>
  <p><span class="fw-semibold">Email: </span><%= @author.email %></p>
  <p><span class="fw-semibold"><%= t "phone" %>: </span><%= @author.phone %></p>
</div>
<div class="mt-5 w-50">
  <h2 class="border-bottom"><%= t ".about_this_author" %></h2>
  <p class="mt-3"><%= @author.about %></p>
</div>
<div class="mt-5">
  <h2 class="border-bottom"><%= t ".list_of_books" %></h2>
  <div class="mt-1 mb-5 row row-cols-1 row-cols-md-5 g-4">
    <% @author.books.with_image_and_authors.each do |book| %>
      <div class="col">
        <%= render "shared/book_card", book: book %>
      </div>
    <% end %>
  </div>
</div>
