<% populate_genre(genre) => {name:, description:, genre_path:, id:, updated_at:}%>
<tr id="<%= id %>">
  <td><%= @pagy.from + genre_iteration.index %></td>
  <td><%= link_to name, genre_path, title: name %></td>
  <td class="text-truncate mw-32"><%= description %></td>
  <td><%= updated_at %></td>
  <td>
    <%= render "admin/shared/form_button", item: genre, name: :genre %>
  </td>
</tr>
