<% provide :title, t("admin.title.show", name: t("genres._name")) %>
<% populate_genre(@genre) => {name:, description:}%>
<div class="col-12">
  <%= navigate_to %>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-4">
        </div>
        <div class="col-lg-8">
          <div class="d-flex justify-content-between">
            <div class="pb-4">
              <h3><%= name %></h3>
              <span class="text-description"><%= description %></span>
            </div>
            <div class="w-25">
              <%= render "admin/shared/form_button", item: @genre,
                          name: t("genres._item"),
                          container_class: "flex-row justify-content-around" %>
            </div>
          </div>
          <div class="mt-4 py-2">
            <ul class="nav nav-pills nav-pills-secondary" id="genre-tab" role="tablist">
              <%= render  partial: "admin/shared/tab_header_item",
                          collection: get_genre_tab_headers(@genre), as: :item %>
            </ul>
            <div class="tab-content" id="genre-tabContent">
              <div  class="tab-pane fade show active"
                    id="<%= @tab_id %>" role="tabpanel"
                    aria-labelledby="<%= @tab_id %>-tab">
                <%= yield :tab_content %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
