<% action = controller.action_name %>
<% provide :title, t("admin.title.#{action}", name: t("genres._name")) %>
<div class="col-12">
  <%= navigate_to list: action == "new" %>
  <div class="card">
    <div class="card-body">
      <%= form_with model: [:admin, @genre], local: true do |f| %>
        <div class="row">
          <div class="col-lg-4">
            <div class="sub-content">
              <div id="form-fail"></div>
            </div>
          </div>
          <div class="col-lg-8">
            <!-- Basic Info -->
            <div class="">
              <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name, class: "form-control",
                          placeholder: t("genres.placeholder.name") %>
              </div>
              <div class="form-group">
                <%= f.label :description %>
                <%= f.text_area :description, class: "form-control",
                          placeholder: t("genres.placeholder.description") %>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3 d-flex flex-row justify-content-end">
          <%= f.submit t("admin.misc.#{action}"), name: action,
                          class: "btn btn-success btn-control" %>
          <%= link_to t("admin.misc.cancel"), admin_genres_path,
                          class: "btn btn-warning btn-control",
                          data: {
                            turbo_method: :get,
                            turbo_confirm: t("admin.notif.cancel_confirm")
                          } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
