<% provide(:title, t("library")) %>

<div>
  <% breadcrumb :books, @books %>
  <h1><%= t "library" %></h1>
  <div class="search d-flex mt-3">
    <%= search_form_for @q, class: "d-flex flex-grow-1" do |f| %>
      <div class="d-flex flex-grow-1 me-2 position-relative">
        <%= f.search_field :title_cont, class: "form-control flex-grow-1 pe-5", autocomplete: "off", placeholder: t("search") %>
        <%= button_tag type: "submit", class: "btn btn-outline-primary position-absolute end-0" do %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
      </div>
      <div class="d-flex align-items-center">
        <%= f.label :s, t(".sort_by") %>
        <%= f.select :s, options_for_select(book_sorting_options, selected: params.dig(:q,:s)), {}, class: "form-select w-auto mx-2" %>
        <%= f.submit t("filter"), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <div class="filter text-center mt-4">
    <div class="filter-letter">
      <% ("A".."Z").each do |letter| %>
        <%= link_to letter, books_path(letter: letter), class: "px-2 fs-5" %>
      <% end %>
      <%= link_to t("all"), books_path, class: "px-2 fs-5" %>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-4">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
  <% if @books.present? %>
    <% if params[:letter].present? %>
      <h2 class="pb-1 border-bottom fw-bold"><%= params[:letter] %></h2>
    <% end %>
    <div class="mt-1 row row-cols-1 row-cols-md-5 g-4">
      <% @books.each do |book| %>
        <div class="col">
          <%= render "shared/book_card", book: book %>
        </div>
      <% end %>
    </div>
  <% else %>
    <%= render "shared/not_found_content", text: t(".no_books_found") %>
  <% end %>
</div>
