<% populate_publisher(publisher) => {
  name:, email:, address:, about:, publisher_path:, id:, updated_at:
}%>
<tr id="<%= id %>">
  <td><%= @pagy.from + publisher_iteration.index %></td>
  <td><%= link_to name, publisher_path, title: about %></td>
  <td><%= email %></td>
  <td class="text-truncate mw-6"><%= address %></td>
  <td><%= updated_at %></td>
  <td>
    <%= render "admin/shared/form_button", item: publisher, name: :publisher %>
  </td>
</tr>
