<div class="row justify-content-between">
  <%= render "box", title: "# #{t 'users._name'}", value: UserInfo.count, change: calc_change_count(UserInfo) %>
  <%= render "box", title: "# #{t 'books._name'}", value: Book.available.count, change: calc_change_count(Book) %>
  <%= render "box", title: "# #{t 'authors._name'}", value: Author.count, change: calc_change_count(Author) %>
  <%= render "box", title: "# #{t 'genres._name'}", value: Genre.count, change: calc_change_count(Genre) %>
  <%= render "box", title: "# #{t 'publishers._name'}", value: Publisher.count, change: calc_change_count(Publisher) %>
</div>
<div class="row">
  <%= render "bar", title: t(".book_trending") do %>
    <% books, stat = trending_book_all_time %>
    <% books.each_with_index do |book, i| %>
      <% period = stat[i] %>
      <div class="owl-item d-flex flex-column">
        <div class="stat-bar-trophy">
          <%= tag.i class: "mdi mdi-trophy-award text-primary",
                          title: "#{t ".best_of_week"}: #{pluralize(period[:week], t('borrows.times'))}" if period.key? :week %>
          <%= tag.i class: "mdi mdi-trophy-award text-warning",
                          title: "#{t ".best_of_month"}: #{pluralize(period[:month], t('borrows.times'))}" if period.key? :month %>
          <%= tag.i class: "mdi mdi-trophy-award text-danger",
                          title: "#{t ".best_of_year"}: #{pluralize(period[:year], t('borrows.times'))}" if period.key? :year %>
        </div>
        <%= link_to admin_book_path(book), title: book.title, class: "item h-100" do %>
          <%= image_tag get_image(book, :image), class: "h-100" %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<div class="row">
  <%= render "chart", title: t(".stat_book_genre") do %>
    <%= pie_chart stat_book_genre, suffix: " #{t("books._item")}" %>
  <% end %>
  <%= render "chart", title: t(".stat_book_publisher") do %>
    <%= pie_chart stat_book_publisher, suffix: " #{t("books._item")}" %>
  <% end %>
  <%= render "chart", title: t(".stat_book_author") do %>
    <%= pie_chart stat_book_author, suffix: " #{t("books._item")}" %>
  <% end %>
</div>
<div class="row">
  <%= render "chart", title: "Sách mượn theo thể loại trong tháng này" do %>
    <%= pie_chart stat_borrow_genre(period: :week), suffix: " #{t("books._item")}" %>
  <% end %>
</div>
<div class="row">
  <%= render "chart", title: t(".stat_borrow_count") do %>
    <%= line_chart [{
                    name: t("borrows._name"),
                    data: stat_borrow_date(period: :all)
                  }],
                  legend: false, ytitle: t(".borrow_count") %>
  <% end %>
</div>
