<% local_assigns.with_defaults(pos: :left, menu_class: "", title: nil) => {
  id:, pos:, menu_class:, title:,
} %>
<% id = "#{id}-dropdown" %>
<div class="dropdown-menu preview-list dropdown-menu-<%= pos %> <%= menu_class %>"
     aria-labelledby="<%= id %>">
  <% if title %>
    <h6 class="p-3 mb-0"><%= title %></h6>
  <% end %>
  <%= yield %>
</div>
