<li class="nav-item dropdown">
  <%= render "dropdown_button", id: "notifications",
                    button_class: "nav-link count-indicator" do %>
    <i class="mdi mdi-bell"></i>
    <% count = Notification.for_me(@current_account).unchecked.count %>
    <% if count.positive? %>
      <span class="count bg-danger" id="notification-uncheck-count"><%= count %></span>
    <% end %>
  <% end %>
  <%= render "dropdown_menu", id: "notifications", title: t(".notifications"),
                    menu_class: "navbar-dropdown large-dropdown" do %>
    <%= link_to t("admin.misc.read_all"), read_all_admin_notifications_path,
                data: {turbo_method: :post},
                id: "notification-read-all",
                class: "text-white float-end me-3 mb-2 mt-n6" %>
    <div id="notifications-list"></div>
    <%= render "admin/shared/next_page", group: "notification",
                link: :admin_notifications_path, page: nil %>
  <% end %>
</li>
