<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
    <%= link_to "#", class: "sidebar-brand brand-logo" do %>
      <%= image_tag "admin/logo.svg" %>
    <% end %>
    <%= link_to "#", class: "sidebar-brand brand-logo-mini" do %>
      <%= image_tag "admin/logo-mini.svg" %>
    <% end %>
  </div>
  <ul class="nav">
    <li class="nav-item profile">
      <%= render "sidebar_profile" %>
    </li>
    <li class="nav-item nav-category">
      <span class="nav-link"><%= t ".navigation" %></span>
    </li>
    <%= render "nav_item", link: admin_root_path, icon: "speedometer", title: t(".dashboard") %>
    <%= render "nav_group", id: "request", icon: "receipt", title: t(".borrow_requests") do %>
      <%= render "nav_item", link: "#", icon: "note-plus", title: t("borrow_requests.pending") %>
      <%= render "nav_item", link: "#", icon: "history", title: t("borrow_requests.history") %>
    <% end %>
    <%= render "nav_item", link: admin_users_path, icon: "account", title: t(".users") %>
    <%= render "nav_group", id: "library", icon: "library", title: t(".library") do %>
      <%= render "nav_item", link: admin_books_path, icon: "book", title: t("books._name") %>
      <%= render "nav_item", link: admin_authors_path, icon: "account", title: t("authors._name") %>
      <%= render "nav_item", link: admin_genres_path, icon: "tag", title: t("genres._name") %>
      <%= render "nav_item", link: admin_publishers_path, icon: "briefcase", title: t("publishers._name") %>
    <% end %>
  </ul>
</nav>
