<% id = "sidebar-profile" %>
<div class="profile-desc">
  <div class="profile-pic">
    <div class="count-indicator">
      <%= image_tag "admin/face15.jpg", class: "img-xs rounded-circle" %>
      <span class="count bg-success"></span>
    </div>
    <div class="profile-name">
      <h5 class="mb-0 font-weight-normal"><%= @current_account.username %></h5>
    </div>
  </div>
  <%= render "dropdown_button", id: do %>
    <i class="mdi mdi-dots-vertical"></i>
  <% end %>
  <%= render "dropdown_menu", id:, pos: "right",
      menu_class: "sidebar-dropdown" do %>
    <%= render "dropdown_item", link: "#",
          icon: "settings", title: t(".account_settings") %>
    <%= render "dropdown_item", link: "#",
          icon: "onepassword", title: t(".change_password") %>
  <% end %>
</div>
