<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "admin/common", "data-turbo-track": "reload" %>
    <%= javascript_import_module_tag "admin/common" %>
    <%= yield :head %>
  </head>
  <body lang="<%= params[:locale] %>">
    <%= yield :body %>
    <%= render "admin/shared/notify" %>
  </body>
</html>
