<% provide :title, t("admin.title.show", name: t("accounts._name")) %>
<% get_info(@user) => {email:, address:, phone:, join_from:, join_about:, avatar:, username:} %>
<div class="col-12">
  <%= navigate_to %>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-4">
          <div class="border-bottom text-center pb-4">
            <%= image_tag avatar, class: "img-lg rounded-circle mb-3" %>
            <% if join_from %>
              <div>
                <span class="fs-6">
                  <span class="me-1"><%= t "users.join_from" %></span>
                  <b><%= join_from %></b>
                </span>
                <p class="ms-1 d-inline text-muted">(<%= join_about %>)</p>
              </div>
            <% end %>
          </div>
          <!-- Contact -->
          <div class="py-4">
            <%= render("admin/shared/info_field", name: t("users.email"), value: email) %>
            <%= render("admin/shared/info_field", name: t("users.phone"), value: phone) if phone %>
            <%= render("admin/shared/info_field", name: t("users.address"), value: address) if address %>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="d-flex justify-content-between">
            <h3><%= username %></h3>
            <div>
              <%= render "status_button", user: @user, flip: false %>
            </div>
          </div>
          <div class="mt-4 py-2">
            <ul class="nav nav-pills nav-pills-secondary" id="user-tab" role="tablist">
              <%= render  partial: "admin/shared/tab_header_item",
                          collection: get_user_tab_headers(@user), as: :item %>
            </ul>
            <div class="tab-content" id="user-tabContent">
              <div  class="tab-pane fade show active"
                    id="<%= @tab_id %>" role="tabpanel"
                    aria-labelledby="<%= @tab_id %>-tab">
                <%= yield :tab_content %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for :hidden_content, render("inactive_reason") %>
