<% provide :title, t("forgot_password") %>

<div class="mx-auto auth-form">
  <h1><%= t "forgot_password" %></h1>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <div class="mb-3">
      <%= f.label :email, t("email"), class: "form-label required" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      <%= render "shared/error_messages", resource: resource, field: :email %>
    </div>

    <div class="mb-3">
      <%= f.submit t(".send_reset_password"), class: "btn btn-primary form-control" %>
    </div>
  <% end %>

  <%= render "accounts/shared/links" %>
</div>
