<% populate_borrow(borrow) => {
    user:, start:, due:, done:,
    borrow_path:, full_name:, turns:
}%>
<tr id="<%= dom_id borrow %>">
  <td><%= (@pagy ? @pagy.from : 1) + borrow_iteration.index %></td>
  <td>
    <%= render "admin/shared/profile", user:,
                link: admin_user_path(user), username_class: "ps-3" %>
  </td>
  <td  class="text-truncate mw-6"><%= full_name %></td>
  <td><%= link_to start, borrow_path %></td>
  <% if @group == :history %>
    <td><%= link_to done, borrow_path %></td>
  <% end %>
  <% unless @group == :history %>
    <td><%= link_to due, borrow_path %></td>
  <% end %>
  <td><%= turns %></td>
  <td><%= render "status_badge", borrow: %></td>
  <% if %i(borrowing pending).include? @group %>
    <td><%= render "action_buttons", borrow: %></td>
  <% end %>
</tr>
