<% provide :title, t("admin.title.show", name: t("borrows._name")) %>
<% populate_borrow(@borrow) => {
    user:, start:, due:, done:, turns:, full_name:
}%>
<div class="col-12">
  <%= navigate_to %>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-4">
          <div class="border-bottom text-center pb-4">
            <%= image_tag get_image(user), class: "img-lg rounded-circle mb-3" %>
            <div class="fs-6">
              <b><%= user.username %></b>
            </div>
          </div>
          <div class="py-4">
            <%= render("admin/shared/info_field", name: t("borrows.user"), value: full_name) %>
            <%= render("admin/shared/info_field", name: t("borrows.start_at"), value: start) %>
            <%= render("admin/shared/info_field", name: t("borrows.end_at"), value: due) %>
            <hr>
            <% is_renew = @borrow.turns.positive? %>
            <%= render "admin/shared/info_field", name: t("borrows.type") do %>
              <%= tag.span t("borrows.#{is_renew ? :renew : :new}").upcase, class: "badge badge-outline-primary" %>
            <% end %>
            <%= render("admin/shared/info_field", name: t("borrows.renewals"), value: turns) if is_renew %>
            <%= render "admin/shared/info_field", name: t("borrows.status") do %>
              <%= render "status_badge", borrow: @borrow %>
            <% end %>
            <%= render "admin/shared/info_field", name: t("borrows.reject_reason"), value: @borrow.response&.content if @borrow.rejected? %>
            <%= render "admin/shared/info_field", name: t("borrows.finish"), value: done if done %>
            <%= render "admin/shared/timestamp", object: @borrow %>
          </div>
        </div>
        <div class="col-lg-8">
          <%= render "action_buttons", borrow: @borrow %>
          <div class="mt-4 py-2">
            <%= yield :tab_content %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% if @borrow.pending? %>
  <% content_for :hidden_content, render("reject_response") %>
<% end %>
