<div class="p-lg-3">
  <%= form_with url: url_for,
                method: :get, class: "d-flex flex-row-reverse mb-4" do |f| %>
    <!-- 2 below hidden fields: merge with current form fields -->
    <%= f.hidden_field :sort, value: request.params[:sort] %>
    <%= f.hidden_field :style, value: request.params[:style] %>
    <%= f.text_field :q, value: request.params[:q], class: "form-control ms-3" %>
    <%= f.submit t("admin.misc.search"), name: :search, class: "btn btn-primary" %>
  <% end %>
  <%= render "admin/shared/pagy_utils" %>
</div>
