<% local_assigns.with_defaults(items: []) => {group_id:, items:} %>
<ul class="nav nav-pills nav-pills-secondary" id="<%= group_id %>-tab" role="tablist">
  <% items.each do |item| %>
    <% item => {icon:, title:, id:, active:} %>
    <% i = "#{group_id}-#{id}" %>
    <li class="nav-item">
      <%= link_to "##{i}", id: "#{i}-tab", role: "tab",
                    class: "nav-link #{"active" if active} d-flex flex-space-between",
                    data: {"bs-toggle": "pill"},
                    aria: {controls: "#{i}", selected: active} do %>
        <span><i class="mdi mdi-<%= icon %>"></i></span>
        <span class="ms-2"><%= title %></span>
      <% end %>
    </li>
  <% end %>
</ul>
<div class="tab-content" id="<%= group_id %>-tabContent">
  <% items.each do |item| %>
    <% item => {partial:, id:, active:} %>
    <% i = "#{group_id}-#{id}" %>
    <div  class="tab-pane fade <%= "show active" if active %>"
          id="<%= i %>" role="tabpanel"
          aria-labelledby="<%= i %>-tab">
      <% if partial %>
        <%= render partial %>
      <% end %>
    </div>
  <% end %>
</div>
