<footer class="text-center">
  <section class="pt-4">
    <%= render "layouts/footer_social_link", link: "#", icon_class: "fab fa-facebook-f" %>
    <%= render "layouts/footer_social_link", link: "#", icon_class: "fab fa-twitter" %>
    <%= render "layouts/footer_social_link", link: "#", icon_class: "fab fa-google" %>
    <%= render "layouts/footer_social_link", link: "#", icon_class: "fab fa-instagram" %>
    <%= render "layouts/footer_social_link", link: "#", icon_class: "fab fa-linkedin" %>
    <%= render "layouts/footer_social_link", link: "#", icon_class: "fab fa-github" %>
  </section>
  <div class="p-3">
    <span><%= t "copyright" %></span>
    <%= link_to "LIBMA.com", "#", class: "text-reset fw-bold" %>
  </div>
</footer>
