<h2 class="fw-semibold mb-4 mt-5"><%= t "authors_following" %></h2>
<div class="row row-cols-1 row-cols-md-4 g-4">
  <% @authors.each do |author| %>
    <div class="col text-center">
      <%= link_to author_path(author), class: "text-decoration-none text-reset" do %>
        <%= avatar_for(author, 100) %>
        <p class="mt-2"><%= author.name %></p>
      <% end %>
    </div>
  <% end %>
</div>
<% if @pagy&.prev.present? || @pagy&.next.present? %>
  <div class="d-flex justify-content-center mt-4">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
<% end %>
